@using HW17.Domain.DTOs
@{
    Layout = "_Layout";
}

@model CreateUserDto

<head>
    <style>
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            direction: rtl;
            padding: 20px;
        }

        .card {
            width: 450px;
            background: #fff;
            border-radius: 12px;
            box-shadow: 0 6px 18px rgba(20,30,60,0.08);
            padding: 24px;
        }

        .card h2 {
            font-size: 20px;
            margin-bottom: 14px;
            text-align: center;
            color: #1f2937;
        }

        .form-group {
            margin-bottom: 12px;
        }

        label {
            display: block;
            font-size: 16px;
            margin-bottom: 6px;
            color: #374151;
            text-align: right;
        }

        input[type="text"],
        input[type="password"],
        input[type="email"] {
            width: 100%;
            padding: 10px 12px;
            border: 1px solid #e5e7eb;
            border-radius: 8px;
            font-size: 14px;
        }

        .btn {
            width: 100%; /* دکمه اندازه فرم شود */
            background: #3b82f6;
            color: #fff;
            padding: 10px 14px;
            border-radius: 8px;
            border: none;
            cursor: pointer;
            font-size: 14px;
            margin-top: 10px;
        }

        .btn:hover {
            background: #2563eb;
        }

        .text-link {
            text-align: center;
            margin-top: 10px;
            font-size: 13px;
            color: #374151;
        }

        .text-link a {
            color: #2563eb;
            text-decoration: none;
        }

        .text-link a:hover {
            text-decoration: underline;
        }
        .message-box {
            margin-top: 12px;
            font-size: 14px; 
            color: #dc2626; 
            text-align: center;
        }
        select {
            width: 100%;
            padding: 10px 12px;
            border: 1px solid #e5e7eb;
            border-radius: 8px;
            font-size: 14px;
            background-color: #fff;
        }
    </style>
</head>

<div class="container">
    <div class="card">
        <h2>ایجاد حساب جدید</h2>

        <form asp-action="Register" method="post" enctype="multipart/form-data">

            <div class="form-group">
                <label asp-for="Username">نام کاربری</label>
                <input asp-for="Username" type="text" placeholder="مثلاً: sara" required />
            </div>

            <div class="form-group">
                <label asp-for="Phone">شماره همراه</label>
                <input asp-for="Phone" type="text" placeholder="09121234567" required />
            </div>

            <div class="form-group">
                <label asp-for="Email">ایمیل</label>
                <input asp-for="Email" type="email" placeholder="example@domain.com" required />
            </div>

            <div class="form-group">
                <label asp-for="Password">رمز عبور</label>
                <input asp-for="Password" type="password" placeholder="رمز عبور" required />
            </div>

            <div>
                <select asp-for="IsAdmin">
                    <option value="" selected disabled>انتخاب نقش</option>
                    <option value="true">ادمین</option>
                    <option value="false">کاربر</option>
                </select>
            </div>

            <div style="margin-top:12px;">
                <div style="display:flex; align-items:center; gap:10px; padding:10px; border:1px solid #e5e7eb; border-radius:8px;">
                    <label asp-for="ProfileFile" style="margin:0;">عکس پروفایل</label>
                    <input type="file" asp-for="ProfileFile">
                </div>
            </div>

            <button class="btn" type="submit">ثبت ‌نام</button>

            <p class="text-link">
                حساب کاربری دارید؟ <a asp-action="Login">ورود به حساب کاربری</a>
            </p>

        </form>
        <div class ="message-box">
            <p>
                @ViewBag.RegisterError
            </p>
        </div>
    </div>
</div>
